name: CI
on:
  push:
    branches: [ main ]
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tox:
    name: tox
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ macos-latest, ubuntu-latest ]
        python-version: [ '3.9', '3.10', '3.12' ]
        exclude:
          - os: macos-latest
            python-version: '3.9'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install --upgrade pip setuptools wheel tox
      - run: pip install . # required for e2e tests
      - run: make lint
      - run: tox

      # Although this won't execute on macOS, the Docker build should be the same
      # across all OS. In future we may wish to ensure this runs on macOS, but
      # for the time being ensuring the build completes on any system should be
      # enough to confirm the Docker image is working.
      - if: matrix.os != 'macos-latest'
        run: docker build . --file Dockerfile -t grove
